.snackbar-error {
    background-color: rgb(179, 19, 19);
    color: #fff;
    letter-spacing: 1px;
  }
  .snackbar-warning {
    background-color: rgb(185, 185, 45);
    color: #fff;
    letter-spacing: 1px;
  }
  .snackbar-notify {
    background-color: rgb(73, 190, 26);
    color: #fff;
    letter-spacing: 1px;
  }

  //mat-dialog
  .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #028d5d;
    }