@font-face {
    font-family: "p-light";
    // src: url("../fonts/Poppins-Light.ttf") format("truetype");
    src: url("../assets/fonts/Poppins-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "p-regular";
    // src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "p-medium";
    // src: url("../fonts/Poppins-Medium.ttf") format("truetype");
    src: url("../assets/fonts/Poppins-Medium.ttf") format("truetype");
  }